{{partial "header.html" .}}
<div class="container">
	{{partial "sidebar.html" .}}
	<div class="content">
		<h1><a href="/gowebexamples/">通过例子学习 Go Web 编程</a></h1>
		<p>
			<a target="_blank" href="https://golang.org/">Go</a> 是一种用于构建简单、快速和可靠软件的开源编程语言。
			看看 <a target="_blank" href="https://github.com/golang/go/wiki/GoUsers">这里</a>，那些伟大的公司使用 Go 提供他们的服务。
		</p>
		<p>
			<i>Go Web 示例</i> 提供了易于理解的代码片段, 关于如何在 go 编程语言中进行 web 开发。
			它受 <a target="_blank" href="https://gobyexample.com/"><i>Go By Example</i></a> 启发, 它对于了解该语言的基础知识有很大帮助。
		</p>
		<p>
			如果你正在学习 Web 编程, 或者只是开始, 在这里你可以找到一些好的例子和教程。我们的目标是提供非常详细、简洁的例子, 以便你可以成为下一个 Go web 网站开发者！Go Web 示例涵盖了 web 编程的基本知识。
			从路由和模板到中间件和 websockets。在这里，您可以找到详细、简洁的代码片段教程。
		</p>
		<p>
			让我们从<a href="hello-world/">第一个例子</a>开始，如何创建一个经典的 "Hello World" web 应用程序或直接转到<a href="routes-using-gorilla-mux/">Routing (使用 gorilla/mux 路由)</a>。
		</p>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle"
			style="display:block; text-align:center;"
			data-ad-layout="in-article"
			data-ad-format="fluid"
			data-ad-client="ca-pub-4512014793067058"
			data-ad-slot="9795350466"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		<p>
			<div class="section">
				<div class="category">The Basics</div>
				<div><a href="hello-world/">Hello World</a></div>
				<div><a href="routes-using-gorilla-mux/">Routing (using gorilla/mux)</a></div>
				<div><a href="templates/">Templates</a></div>
				<div><a href="forms/">Requests &amp; Forms</a></div>
				<div><a href="static-files/">Assets &amp; Files</a></div>
				<div><a href="basic-middleware/">Middleware (Basic)</a></div>
				<div><a href="advanced-middleware/">Middleware (Advanced)</a></div>
				<div><a href="sessions/">Session</a></div>
				<div><a href="json/">JSON</a></div>
				<div><a href="websockets/">Websockets</a></div>
			</div>
			<div class="section">
				<div class="category">Security</div>
				<div><a href="password-hashing/">Password Hashing (bcrypt)</a></div>
			</div>
		</p>
		{{partial "footer.html" .}}
	</div>
</div>
</body>
</html>
